.custom-navbar {
    background-color: #c3c3c3; /* Asegúrate de tener este valor en tus variables CSS */
    color: white;
  }
  
  .custom-navbar .nav-link {
    color: white !important;
    font-weight: bold; /* Letras un poco más en negrita */
  }
  
  .custom-navbar .nav-link:hover {
    text-decoration: underline; /* Opcional: subrayar al pasar el ratón */
  }
  
  .custom-navbar .navbar-brand img {
    /* Opcional: personalizar estilos del logo */
  }
  
  .custom-navbar .btn-outline-light {
    color: white;
    border-color: white;
  }
  
  .custom-navbar .btn-outline-light:hover {
    background-color: white;
    color: #c3c3c3;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    gap: 1rem; /* Espacio entre las tarjetas */
    overflow-x: auto;
    scroll-behavior: smooth; /* Suaviza el desplazamiento */
    padding: 1rem;
    width: 100%;
  }
  
  .carousel::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
  }
  
  .carousel-arrow {
    background-color: #6f42c1; /* Personaliza el color del botón */
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .carousel-arrow.left {
    left: 10px;
  }
  
  .carousel-arrow.right {
    right: 10px;
  }
  
  .carousel-arrow:hover {
    background-color: #5932a6; /* Color al pasar el ratón */
  }

@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';