.sticky-top {
  position: sticky;
  top: 0;
  z-index: 100; /* Asegura que esté por encima de otros elementos */
}
.perk-card {
  border: 5px solid #c3c3c3;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.position-relative {
  position: relative;
  /* Ya no necesitamos margin-bottom aquí */
}

.perks-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  height: 150px; /* Ajusta este valor según la cantidad de superposición deseada */
  overflow: hidden; /* Evita que el contenido se desborde */
}

.rutas-container {
  position: relative;
  z-index: 0;
  margin-top: 150px; /* Debe ser igual a la altura de perks-container */
}
.custom-navbar {
    background-color: white; /* Asegúrate de tener este valor en tus variables CSS */
    color: #d90057;
  }
  
  .custom-navbar .nav-link {
    color: #d90057 !important;
    font-weight: bold; /* Letras un poco más en negrita */
  }
  
  .custom-navbar .nav-link:hover {
    text-decoration: underline; /* Opcional: subrayar al pasar el ratón */
  }
  
  .custom-navbar .navbar-brand img {
    /* Opcional: personalizar estilos del logo */
  }
  
  .custom-navbar .btn-outline-light {
    color: #d90057;
    border-color: #d90057;
  }
  
  .custom-navbar .btn-outline-light:hover {
    background-color: #d90057;
    color: white;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    gap: 1rem; /* Espacio entre las tarjetas */
    overflow-x: auto;
    scroll-behavior: smooth; /* Suaviza el desplazamiento */
    padding: 1rem;
    width: 100%;
  }
  
  .carousel::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
  }
  
  .carousel-arrow {
    background-color: #77b8a6; /* Personaliza el color del botón */
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .carousel-arrow.left {
    left: 10px;
  }
  
  .carousel-arrow.right {
    right: 10px;
  }
  
  .carousel-arrow:hover {
    background-color: #5932a6; /* Color al pasar el ratón */
  }

@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';